<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="home.css">
    <title>Via CEP</title>
</head>
<body>
    <nav>
        <h1 id="dashboard">Via CEP</h1>
    </nav>
    <main>
        <div id="painel">
            <h2 id="painel-title">Bem vindo ao Via CEP, aqui você poderá verificar o seu CEP.</h2>
            <form action="/var" method="post">
                <label for="CEP" id="painel-answer">
                    ⇃⇃ Digite seu CEP válido abaixo ⇂⇂
                </label>
                <div id="center-input">
                    <input id="painel-input"type="text" name="cep">
                </div>
                <button type="submit" id="painel-submit">PESQUISAR</button>
            </form>
        </div>
    </main>
</body>
</html>